###############################################################################
# [ WARNING ]
# configuration file maintained by Juju
# local changes will be overwritten.
###############################################################################
defaults {
    {% for key, value in defaults.items() %} {{ key }} {{ value }}
    {% endfor %}
}
{% if blacklist -%}
blacklist {
    device {
        {% for key, value in blacklist.items() %} {{ key }} {{ value }}
        {% endfor %}
    }
}
{% endif -%}
{% if devices -%}
devices {
    device {
        {% for key, value in devices.items() %} {{ key }} {{ value }}
        {% endfor %}
    }
}
{% endif -%}
{% if multipaths -%}
multipaths {
    multipath {
        {% for key, value in multipaths.items() %} {{ key }} {{ value }}
        {% endfor %}
    }
}
{% endif -%}
